[Desktop Entry]
Name=Kanata Layer Indicator
Comment=A visual representation of active keyboard layers from the kanata application
Type=Application
Icon=com.github.pojomi.kanata-layer-indicator
Exec=kanata-layer-indicator %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
